.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/oldfiles_Activity
/data/oldfiles_Growth
/data/oldfiles_msc
/Figures/Fig_Activity
/Figures/Fig_Resp
/Figures/Fig_Mortality
/Figures/Fig_TempData
/Figures/Fig_Growth
/scripts/old_scripts
